{% extends "main.html" %} {% block htmltitle %}
<title>fizz.ai Documentation</title>
{% endblock %} {% block styles %} {{ super() }}
<link rel="stylesheet" href="{{ 'assets/stylesheets/home.css' | url }}" />
{% endblock %} {% block content %}
<div class="home">
  <div class="hero">
    <div class="hero-content">
      <h1>Simplify AI Things</h1>
      <p>
        Explore how to use <a href="#" target="\_blank">fizz.ai</a> to run
        Large Language Models on a distributed AI platform. <br /><br />
      </p>
    </div>
    <div>
      <img
        src="./assets/images/hero.webp"
        alt="fizz.ai Hero"
        class="hero-image"
      />
    </div>
  </div>
  <div class="featured-content">
    <div class="feature">
      <h2>Get coding</h2>
      <img src="./assets/images/circle1.webp" alt="Colab notebook" />
      <p>
        Test-drive
        <a href="#" target="\_blank">fizz.ai</a>
        capabilities with a pre-built Colab notebook that lets you explore
        without writing a single line of code.
      </p>
      <a
        href="#"
        class="btn"
        >Check notebooks
        <span class="md-icon"
          >{% include ".icons/material/arrow-right.svg" %}</span
        ></a
      >
    </div>
    <div class="feature">
      <h2>Explore our API</h2>
      <img src="./assets/images/circle2.webp" alt="Explore our API" />
      <p>Find everything you need to connect, automate, and control your
        <a href="#" target="\_blank">fizz.ai</a> workflows via the API.</p>
      <a href="#" class="btn"
        >View API reference
        <span class="md-icon"
          >{% include ".icons/material/arrow-right.svg" %}</span
        ></a
      >
    </div>
    <div class="feature">
      <h2>Questions?</h2>
      <img src="./assets/images/circle3.webp" alt="FAQs" />
      <p>
        Get answers to common questions about Fizzy Inference and learn how 
        <a href="#" target="\_blank">fizz.ai</a> makes it possible.
      </p>
      <a href="#" target="\_blank" class="btn"
        >Learn more
        <span class="md-icon"
          >{% include ".icons/material/arrow-right.svg" %}</span
        ></a
      >
    </div>
  </div>
  {% endblock %}
</div>
